// переважаючі характеристики сторінки
body {
  color: $color-primary;
  font-family: $main-font;
  @include font(500, 18px, 22px, 0.02em);
  background-color: $color-background;
}

// Видалення крапок списку
.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

// видалення підкреслювання ссилок
.link {
  text-decoration: none;
}

// Скриття елемента
.is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// центрування і обмеження контенту
.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  @media screen and (min-width: $mobile-width) {
    width: $mobile-width;
  }

  @include tablett {
    width: $tablett-width;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
  }

  @include desktop {
    width: $desktop-width;
  }
}

// обнулення відступів
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

// видалення відступів картинок
img,
svg {
  display: block;
  max-width: 100%;
}

// видалення стандартних рамок у форм при фокусі
input,
textarea {
  outline: none;
}
