$main-font: 'Roboto', sans-serif;
$color-primary: #222222;
$color-active: #B92F2C;
$color-secondary: #8C8C8C; 
$color-background: #ffffff;
$mobile-width: 480px;
$tablett-width: 768px;
$desktop-width: 1200px;
