.film-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 100%;

  @include tablett {
    width: calc((100% - 32px) / 2);
  }

  @include desktop {
    width: calc((100% - 16px * 2) / 3);
  }
}

.film-card:hover {
  transform: scale(1.02);
}

.film-poster {
  object-fit: cover;
  min-width: 280px;
  border-radius: 5px;
  @include tablett {
    width: 100%;
    height: 455px;
  }
  @include desktop {
    width: 100%;
    height: 574px;
  }
}

.film-title {
  width: 100%;
  display: flex;
  margin-top: 8px;  

  @include font(500, 14px, 16px, null);
  color: $color-primary;  
  text-transform: uppercase;
  hyphens: auto;

  @include desktop {
    @include font(500, 20, 24, none);
  }
}

.film-details {
  color: $color-active;
  @include font(400, 12px, 14px, null);  

  @include desktop {
    @include font(400, 16px, 20px, null);
  }
}