.header__container {
  padding: 14px 14px 20px 14px;
  background-image: url(../images/header-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  @include retina {
    background-image: url(../images/header-mobile@2x.jpg);
  }

  @include tablett {
    height: 222px;
    padding: 16px;
    background-image: url(../images/header-tablet.jpg);
    animation: 20s headerImage_tablett infinite;
    @include retina {
      background-image: url(../images/header-tablet@2x.jpg);
    }
  }

  @include desktop {
    padding: 16px 32px 32px 32px;
    height: 316px;
    background-image: url(../images/header-desktop.jpg);
    animation: 20s headerImage_desktop infinite;
    @include retina {
      background-image: url(../images/header-desktop@2x.jpg);
    }
  }
}

@keyframes headerImage_desktop {
  0% {
  }
  22% {
    background-image: url(../images/header-desktop.jpg);
  }
  33% {
    background-image: url(../images/header-desktop1.jpg);
  }
  55% {
    background-image: url(../images/header-desktop1.jpg);
  }
  66% {
    background-image: url(../images/header-desktop2.jpg);
  }
  88% {
    background-image: url(../images/header-desktop2.jpg);
  }
  100% {
    background-image: url(../images/header-desktop.jpg);
  }
}

@keyframes headerImage_tablett {
  0% {
  }
  22% {
    background-image: url(../images/header-tablet.jpg);
  }
  33% {
    background-image: url(../images/header-tablet1.jpg);
  }
  55% {
    background-image: url(../images/header-tablet1.jpg);
  }
  66% {
    background-image: url(../images/header-tablet2.jpg);
  }
  88% {
    background-image: url(../images/header-tablet2.jpg);
  }
  100% {
    background-image: url(../images/header-tablet.jpg);
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.search {
  position: relative;
  width: 100%;
  order: 2;

  @include tablett {
    width: 165px;
  }

  @include desktop {
    width: 187px;
  }
}

.search__input {
  width: 100%;
  height: 42px;
  padding: 16px;
  padding-right: 40px;
  background: $color-background;
  border-radius: 100px;
  border: none;

  @include tablett {
    width: 165px;
  }

  @include desktop {
    width: 187px;
  }
}

.search__input::placeholder {
  @include font(400,14px,16px,null);
  color: $color-primary;
}

.search__btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 4px;

  @include tablett {
    gap: 8px;
    order: 2;
  }
}

.menu-list__link {
  display: block;

  padding: 14px 24px;
  background: $color-background;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-primary;
  text-decoration: none;
}

.menu-list__link:hover,
.menu-list__link:focus {
  background-color: #000;
  color: $color-background;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link--active {
  background-color: #000;
  color: $color-background;
}

.logo {
  margin-top: 312px;
  // margin-top: 48vh;

  @include tablett {
    margin-top: 105px;
    width: 260px;
  }
  @include desktop {
    margin-top: 175px;
  }
}

.logo__icon {
  width: 44px;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 44px;
  color: $color-background;

  @include tablett {
    justify-content: start;
    gap: 16px;
  }
}
